extends layout

block content
    h1 Login
    form(method='POST', action='/users/login')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
            br
        #form-group
            label Password:
            input.form-control(name='password', type='password')
            br
        input.btn.btn-primary(type='submit', value='Submit')    
    
        a.btn.btn-primary(style='margin-left:3px' onclick="window.open('/users/auth/facebook', 'newwindow', 'width=700,height=700');return false;")
            span.fa.fa-facebook  
            |   Login with Facebook

        a.btn.btn-danger(style='margin-left:3px' onclick="window.open('/users/auth/google', 'newwindow', 'width=700,height=700');return false;")
            span.fa.fa-google-plus  
            |   Login with google

         a.btn.btn-primary(style='margin-left:3px; background-color:#55ACEE; border-color: #55ACEE;' onclick="window.open('/users/auth/twitter', 'newwindow', 'width=700,height=700');return true;")
            span.fa.fa-twitter  
            |   Login with twitter
