extends layout

block content
    h1 Login
    form(method='POST', action='/users/login')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
            br
        #form-group
            label Password:
            input.form-control(name='password', type='password')
            br
        input.btn.btn-primary(type='submit', value='Submit')
    br    
    a.btn.btn-primary(href='/auth/facebook',  style='margin-left: 2px;')
        span.fa.fa-facebook  
        |   Login with Facebook
