extends layout

block content
    h1 Login
    form(method='POST', action='/users/login')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
            br
        #form-group
            label Password:
            input.form-control(name='password', type='password')
            br
        input.btn.btn-primary(type='submit', value='Submit')    
    
        a.btn.btn-primary(href='/users/auth/facebook' style='margin-left:3px')
            span.fa.fa-facebook  
            |   Login with Facebook

        a.btn.btn-danger(href='/users/auth/google' style='margin-left:3px')
            span.fa.fa-google-plus  
            |   Login with Google

        a.btn.btn-primary(href='/users/auth/twitter' style='margin-left:3px; background-color:#55ACEE; border-color: #55ACEE;')
            span.fa.fa-twitter  
            |   Login with Twitter

        a.btn.btn-primary(href='/users/auth/github' style='margin-left:3px; background-color:#444444; border-color: #444444;')
            span.fa.fa-github
            |   Login with Github