.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; 
}

.twitterbtn{
    margin-left: 3px; 
    background-color: #55ACEE;
    border-color: #35AEDE;
}

.twitterbtn:hover{
    background-color: #159EBE;
    border-color: #057EAE;
}

.twitterbtn:focus{
    background-color: #55ACEE;
    border-color: #35AEDE;
}

.githubbtn{
    margin-left: 3px; 
    background-color: #444444; 
    border-color: #333333;
}

.githubbtn:hover{ 
    background-color: #242424; 
    border-color: #141414;
}

.githubbtn:focus{ 
    background-color: #444444; 
    border-color: #333333;
}